
@{
    ViewBag.Title = "UpdateView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main red">
    <div id="Top">

    </div>

    <div id="Content">

    </div>

    <div id="Bottom">

    </div>
</div>
